# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# SwiftData / Core Data
*.sqlite
*.sqlite-shm
*.sqlite-wal

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# CocoaPods (por si se agrega en el futuro)
Pods/
Podfile.lock

# SPM
.build/
*.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archivos de usuario
*.moved-aside
*.orig
